<div style="text-align:center">
  <h1>
    Welcome to iForum!!
  </h1>
</div>

<div class="float-right">
<div class="clearfix" *ngIf=" !user.isLogged ">
  <button (click)="onClickLoginWithGoogle()">Google Login</button>
  <button (click)="onClickLoginWithFacebook()">Facebook Login</button>
</div>
<div class="clearfix" *ngIf=" user.isLogged ">
  <div  style="display:inline-block">
    You are logged in as <b>{{ user.auth.currentUser.displayName}}</b>
  <button style="display:inline-block"(click)=" user.logout() ">Loggout</button>
  </div>
  
</div>
</div>



<!--<div>Am I admin? {{ user.isAdmin }}</div>-->



<h2>Forum Category</h2>
<div style="color: darkred;">{{ category_error }}</div>
Create a forum category:
<input name="category_id" [(ngModel)]="category_id" placeholder="Category ID">
<input name="category_name" [(ngModel)]="category_name" placeholder="Category Name">
<button type="button" (click)="onClickCreateCategory()">Submit</button>

<div *ngIf=" categories && categories.length ">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    <tr *ngFor=" let c of categories; let i = index">
      <td>{{ c.id }}</td>
      <td><input type="text" name="name" value="{{ c.name }}" [(ngModel)]="c.name"></td>
      <td><input type="text" name="desc" value="{{ c.description }}" [(ngModel)]="c.description"></td>
      <td><button (click)="onClickCategoryEdit( c.id )">EDIT</button></td>
      <td><button (click)="onClickCategoryDelete( c.id )">DELETE</button></td>
    </tr>
  </table>
</div>


